* {
  font-family: Verdana;
}

#article {
  box-sizing: border-box;
  width: 500;
  height: 80;
  font-size: 30;
  color: #7a0224;
  background-color: #f7dada;
  border-top: 4px double #7a0224;
  border-bottom: 4px double #7a0224;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
}

.small-text {
  font-size: 15;
}

.red-text {
  color: red;
}
