.menu {
  height: 50px;
  width: 100%;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.item:hover{
  background-color: darkblue;
}