body {
  width: 50vw;
}

ul{
  list-style-type: none;
}

li{
  color: white;
  background-color: blue;
}
.header {
  background-color: gray;
  color: white;
  height: 80px;
  padding: 15px 0px 15px 10px;
}