code {
  background: #2db34a;
  border-radius: 6px;
  color: #fff;
  padding: 24px 15px;
  text-align: center;
}
header,
section,
aside,
footer {
  margin: 0 1.5% 24px 1.5%;
}
section {
}
footer {
  margin-bottom: 0;
}
