code {
  box-sizing: border-box;
  background: #2db34a;
  border-radius: 6px;
  color: #fff;
  padding: 24px 15px;
  display: flex;
  justify-content: center;
  align-items: center; 
}
header {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
section {
  width: 30%;
  margin: 20px 0px;
}
#section-container {
  display: flex;
  justify-content: space-between;
}

