body {
  height: 2000px;
}
div.static {
  border: 3px solid blue;
  position: static;
}
div.relative {
  border: 3px solid green;
  position: relative;
  left: 20px;
}
div.fixed {
  border: 3px solid red;
  position: fixed;
  right: 20px;
  bottom: 20px;
}